p,a,span,div,h1,h2{
    font-family: 'Roboto', sans-serif;
}
ul.rs{
    list-style-type: none;
}
img{
    size: 10px;
}
body {
    margin: 0;
}
body.index{
    background-image: url(../images/holi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Index */

/* Menu */
nav{
    padding: 0;
    margin: 10px;
    text-align: center;
}
nav li{
    display: inline;
    list-style: none;
}
nav a{
	display:inline-block;
    margin: 0 30px;
    font-weight: bold; 
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-shadow: #654164;
}
/* phrase d'intro */
h1.title{
    color: #30bca4;
    text-align: center;
    text-shadow: -0.03em -0.05em rgba(192, 30, 143, 0.616) ;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
}
/* compte a rebours */
.mid_block{
    /* display: inline-block; */
    padding: 12px 30px 12px 30px;
    margin-left: 15%;
}
.block_date{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin: 30px 30px 30px 300px;
}
span.clock{
    border-radius: 0px;
    border: none;
    padding: 12px 30px 12px 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 50px;
    margin: 0px 10px 0px 10px;
}
span.day{
    border-radius: 0px;
    border: none;
    padding: 12px 30px 12px 30px;
    color: white;
    background-color: pink;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
}
/* boutons */
a.bouton{
    display: inline-block;
    border-radius: 20px;
    border: none;
    padding: 12px 30px 12px 30px;
    color: white;
    background-color: #30bca4;
    font-weight: bold;
    margin: 50px 50px 50px 50px; 
    position: relative;
}
a.boutons{
    display: inline-block;
    border-radius: 20px;
    border: none;
    padding: 12px 30px 12px 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 50px 50px 50px 500px; 
    position: relative;
}

/* Ticket */

.ticket_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.ticket_top span {
    color: #e7e7e7;
}

#white {
    color: #e7e7e7;
    font-size: 30px;
}

#pink {
    color: #873a6a;
    font-size: 30px;
}

.ticket_title {
    margin: 50px 0px 30px 0px;
}

.block_ticket {
    display: flex;
    justify-content: center;
}

.block_ticket button {
    border-radius: 20px;
    border: none;
    padding: 12px 30px 12px 30px;
    color: white;
    background-color: #30bca4;
    font-weight: bold;
    margin: 30px 0px 0px 0px; 
}

.block_ticket button:hover {
    box-shadow: 0px 0px 10px 6px #30bca4;
}

.block_ticket span {
    margin: 0px 0px 20px 0px;
}

.ticket_contener {
    background-color: #101c2a;
}

.ticket_color {
    color: #e7e7e7;
    margin: 0px 0px 10px 0px;
}

.prix{
    color: #873a6a;
}

.free {
    width: 250px;
    margin: 70px 10px 60px 0px;
    text-align: center;
    border-right-color: #3f3f3f;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 20px 15px 20px 0px;
}

.silver {
    width: 250px;
    margin: 70px 10px 60px 10px;
    text-align: center;
    border-right-color: #3f3f3f;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 20px 15px 20px 0px;
}

.gold {
    width: 250px;
    margin: 70px 10px 60px 10px;
    text-align: center;
    border-right-color: #3f3f3f;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 20px 15px 20px 0px;
}

.vip {
    width: 250px;
    margin: 70px 0px 60px 10px;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

/* Blog */

.body_blog {
    background-color: #02101c;
}

.body_blog h2 {
    color: #30bca4;
}

.top_blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.text_title_blog {
    color: #e7e7e7;
    margin: 0px 0px 40px 0px;
}

.blog_title {
    margin: 50px 0px 30px 0px;
}

.block_blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog_1 {
    width: 60%;
    padding: 40px;
    background-color: #101c2a;
    margin: 30px 0px 0px 0px;
}

.blog_1 span {
    color:#d2d2d2;
}

.blog_1 p {
    color: #d2d2d2;
}

.blog_2 {
    width: 60%;
    padding: 40px;
}

.blog_2 span {
    color: #d2d2d2;
}

.blog_2 p {
    color: #d2d2d2;
}

.blog_3 {
    width: 60%;
    padding: 40px;
    background-image: url(../images/FKJ.jpg);
    background-size: 100%;
}

.blog_3 span {
    color: #d2d2d2;
}

.blog_3 p {
    color: #d2d2d2;
}

.blog_4 {
    width: 60%;
    padding: 40px;
}

.blog_4 span {
    color: #d2d2d2;
}

.blog_4 p {
    color: #d2d2d2;
}

.autor {
    margin: 0px 0px 20px 40px;
}

/* Album / Footer */

/* Top footer */

.block_top_footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.contact {
    width: 260px;
    margin: 50px 20px 40px 20px;
    color: #4d4d4d;
}

.contact h2 {
    color: #d2d2d2;
    font-size: 19px;
}

.twitter {
    width: 260px;
    margin: 50px 20px 40px 20px;
    color: #4d4d4d;
}

.twitter h2 {
    color: #d2d2d2;
    font-size: 19px;
}

.instagram {
    width: 260px;
    margin: 50px 20px 40px 20px;
    color: #4d4d4d;
}

.instagram h2 {
    color: #d2d2d2;
    font-size: 19px;
}

.newsletter {
    width: 260px;
    margin: 50px 20px 40px 20px;
    color: #4d4d4d;
}

.newsletter h2 {
    color: #d2d2d2;
    font-size: 19px;
}

.newsletter input {
    width: 200px;
    height: 40px;
    background-color: #292929;
    border: none;
    margin-bottom: 30px;
}

.newsletter ::placeholder {
    color: #747474;
}

.newsletter button {
    border-radius: 20px;
    border: none;
    padding: 12px 30px 12px 30px;
    color: white;
    background-color: #30bca4;
    font-weight: bold;
}

/* Bot Footer */

.block_bot_footer {
    display: flex;
    justify-content: space-between;
    background-color: #020f1d;
}

.footer_reseaux {
    margin: 0px 250px 0px 0px;
    color: white;
}

.copyright {
    color: white;
}

.footer_logo {
    margin: 0px 0px 0px 250px;
    color: white;
}
